apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-runner
  namespace: default
  labels:
    app: github-runner
spec:
  selector:
    matchLabels:
      app: github-runner
  template:
    metadata:
      labels:
        app: github-runner
    spec:
      containers:
        - name: github-runner
          env:
          - name: GITHUB_PAT
            value: "github_pat_000"
          - name: REPO_OWNER
            value: "Ajsalemo"
          - name: REPO_NAME
            value: "self-hosted-github-action-runner"
          - name: REPO_URL
            value: "https://github.com/$(REPO_OWNER)/$(REPO_NAME)"
          - name: REGISTRATION_TOKEN_API_URL
            value: "https://api.github.com/repos/$(REPO_OWNER)/$(REPO_NAME)/actions/runners/registration-token"
          image: self-hosted-github-action-runner:latest
          imagePullPolicy: IfNotPresent          
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
      restartPolicy: Always